openapi: "3.0.2"
info:
  title: Onboarding API
  version: "1.2"
  description: |-
    Mon STD22046
servers:
  - url: https://STD22046.com
paths:
  /students:
    get:
      summary: show the student
      tags:
        - "Students"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/student"
    post:
      summary: add a new student
      tags:
        - "Students"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: "#/components/schemas/student"
    put:
      summary: add a new student
      tags:
        - "Students"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: "#/components/schemas/student"
    delete:
      summary: remove student
      tags:
        - "Students"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: "#/components/schemas/student"
  /teachers:
    get:
      summary: show the teacher
      tags:
        - "Teacher"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/teacher"
    put:
      summary: add a new teacher
      tags:
        - "Teacher"
      responses:
        "200" :
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/teacher"
components:
  schemas:
    student:
      type: object
      properties:
        id:
          type: number
          example: 1
        name:
          type: string
          example: "Donovan"
        birthday:
          type: string
          format: date
          example: 09-07-2002
    teacher:
      type: object
      properties:
        id:
          type: number
          example: 1
        name:
          type: string
          example: "RAMAROZAKA"
        last name:
          type: string
          example: "Toky"
        code:
          type: string
          example: PROG1
        duree:
          type: integer 
          example: 2
          


